fieldset {

	label {
		color: $darkgrey;
		background-color: $white;
		display: block;
		width: 100%;
		margin-bottom: .875rem;
		padding: .5rem;
		font-size: 13px;
		font-size: .8125rem;
	}

	input[type="text"], input[type="email"] {
		padding: .5rem;
		border: 0;
	}
}