// Colors
$bodytext:		#434951;

$link-color:	#B7B9BC;
$link-hover:	#79B600;

$white:			#fff;
$green:			#79B600;
$blue:			#aedee4;
$pink:			#FDD7F5;
$lightgrey:		#C3C8C9;
$darkgrey:		#232A3B;
$lightgreytext:	#E8E9EB;


